.dashboard {
  // border: 1px solid red;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: lightgray;
  display: flex;
  flex-flow: row nowrap;

  a {
    text-decoration: none;
  }
  .navbar {
    // border: 1px solid orangered;
    background-color: rgb(35, 140, 182);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 15%;
    .item {
      color: white;
      // border: 1px solid blue;
      width: 100%;
      margin: 1rem;
      padding: 5px;
    }
    li {
      list-style: none;
    }
    li:hover,
    li.router-link-active,
    li.router-link-exact-active {
      background-color: rgb(40, 172, 224);
      border-left: 5px solid lightblue;
    }
  }
  .content {
    // border: 3px solid #4caf50;
    width: 100%;
    max-height: 100%;
    padding: 1rem;
  }
  .admin-content {
    display: flex;
    flex-flow: column nowrap;
    // border: 1px solid blue;
    padding: 3rem;
    .message {
      background-color: burlywood;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    .button {
      border: none;
      color: white;
      border-radius: 4px;
      padding: 0.5rem;
      margin: 0 5px;
      transition: all 0.2s linear;
    }
    .new {
      background-color: #337ab7;
    }
    .new:hover {
      background-color: #2f6da3;
    }
    .edit {
      background-color: #ffc107;
      color: black;
    }
    .edit:hover {
      background-color: #e0aa05;
    }
    .erase {
      background-color: #dc3545;
    }
    .erase:hover {
      background-color: #b42d3b;
    }
  }
  .table-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    // border: 1px solid red;
    background-color: #435d7d;
    color: white;
    padding: 1rem 2rem;
  }
  .table-body {
    // margin: 0 3rem;
    width: 100%;
    // border: 1px solid red;
    .table-buttons {
      width: 10%;
      margin: auto;
      white-space: nowrap;
    }
    table {
      table-layout: auto;
      width: 100%;
    }
    thead {
      border-bottom: 1px solid rgb(187, 187, 187);
      text-align: center;
    }

    th,
    td {
      border: none;
      padding: 1rem;
    }

    td {
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid rgb(187, 187, 187);
    }

    .Borrador,
    .Inactivo {
      background-color: rgb(245, 137, 137);
      padding: 0.3rem;
      border-radius: 10px;
    }

    .Publico,
    .Activo {
      background-color: rgb(113, 187, 113);
      padding: 0.3rem;
      border-radius: 10px;
    }

    .Administrador {
      background-color: rgb(113, 187, 113);
      padding: 0.3rem;
      border-radius: 10px;
    }
    .Editor {
      background-color: rgb(55, 200, 236);
      padding: 0.3rem;
      border-radius: 10px;
    }
  }
  .nuevaPubli {
    width: 100%;
  }
  .menubar {
    border-bottom: 3px solid black;
    &__button {
      border: none;
      background-color: inherit;
      width: 2rem;
      padding: 8px;
      margin: 0 7px;
      // background-color: black;
    }
    &__button:hover {
      background-color: rgb(187, 187, 187);
    }
  }
  // Block with html content, for develop purpose
  .export {
    border: 2px solid black;
    width: 100%;
    display: none;
  }
  .logout {
    background-color: rgb(243, 62, 62);
    border: none;
    color: white;
    border-radius: 5px;
  }
}
.input-group {
  // border: 1px solid red;
  display: flex;
  flex-flow: column wrap;
  h5 {
    width: 80%;
    margin: 0.5rem auto;
    // border: 1px solid red;
    // border-bottom: 1px solid black;
  }
  input,
  select,
  textarea {
    font-family: "Lora", serif;
    width: 80%;
    margin: 0.5rem auto;
    border: none;
    border-bottom: 2px solid rgb(40, 172, 224);
    // margin: 0.5rem;
  }
  textarea {
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    resize: none;
  }
}
.editor-button {
  border: none;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 1rem;
  transition: all 0.2s linear;
  background-color: #337ab7;
}
@media (max-width: 900px) {
  .dashboard {
    .adm-publication {
      padding: 0.5rem;
    }
  }
  .dashboard {
    flex-flow: column wrap;
    .navbar {
      width: 100%;
      flex-flow: row wrap;
      // display: none;
      .item {
        color: white;
        // border: 1px solid blue;
        width: 40%;
        margin: 0.3rem auto;
        // padding: 5px;
      }
    }
  }
}
